@using WebSite.DataAcces.Identity
@using WebSite.Data.Extensions
@using WebSite.Core.Entities
<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="AuthorEntity" content="Bojan Kovachevski" />
    <meta name="description" content="WebSite" />
    <link rel="icon" href="~/images/blog-logo-7E0C67F0D1-seeklogo.com.png" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <link rel="stylesheet" href="~/css/Comment.css" />
    <link rel="stylesheet" href="~/css/Post.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

    <title>WebSite</title>

</head>

<body>
    <!--Navbar -->
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark default-color mb-4">
        <div class="row" style="width: 100%">

            <div class="col-2">
                <a asp-controller="Home" asp-action="Index">
                    <img class="rounded-circle z-depth-0" style="width:30%" src="~/images/blog-logo-7E0C67F0D1-seeklogo.com.png" alt="LOGO" />
                </a>
            </div>
            <div class="col">

                @*<form asp-controller="Home" asp-action="Search" method="post" style="padding: 10px 0 10px 0px">
            <i class="fas fa-search btn btn-outline-secondary" aria-hidden="true"></i>
            <input type="text" name="searchString" style="width:72%" />
        </form>*@
                <!-- Search form -->
                <form asp-controller="Home" asp-action="Search" method="post">
                    <div class="row">
                        <div class="md-form mt-0 col-8" style="padding: 10px">
                            <input class="form-control" type="text" placeholder="Search" name="searchString">
                        </div>
                        <div class="col-2" style="padding: 10px">
                            <button class="btn btn-outline-info" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation" style="padding:10px">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
           
            <div class="col">
                <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                    <ul class="navbar-nav ml-auto nav-flex-icons text-center" style="padding-right: 16px;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="padding: 15px 0 10px 0">
                                <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-default"
                                 aria-labelledby="navbarDropdownMenuLink-333">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Profile" asp-route-id="@User.Identity.GetAuthorEntityName()">@User.Identity.GetAuthorEntityName()</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="LogOut">Logout</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a>


                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>

    <!--/.Navbar -->
    <!--/.Navbar -->
    <!--/.Navbar -->
    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer>
        <div class="footer-container">

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
