@model WebSite.Core.Entities.ReplyEntity

@{
}

<div class="container">
    <form asp-controller="Comment" asp-action="Edit" method="post">

        <div class="form-group">
            <label class="font-weight-normal" style="font-size: 20px" asp-for="Content">Edit Post</label>
            <textarea style="width: 50%" asp-for="Content">@Model.Content</textarea>
        </div>

        <input class="btn btn-success" type="submit" value="Save" />

        <div class="errors" asp-validation-summary="All"></div>
    </form>
</div>